


/* shared styles */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
   font-variation-settings:"wdth" 100;
}  


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    
    


}
.btn-primary:hover{
    background-color: rgb(69, 56, 179);
}




/* header styles */

.header{
    background-image:url(../Assets/Hero-bg.png) ;
    width: 1140px ;
    padding: 0px;
    height: 100%;
    width: 100%;

}
.text-primary{
    color: #4E47FF;
    font-size: 34px ;
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto; 
  font-style: normal;
   font-variation-settings:"wdth" 100;

}

.banner{
    font-weight: bold;
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding: 0px;
    height: 100%;
    width: 905px;
    font-size: 65px;
    font-weight: bold;
    line-height: auto;
}


body header nav ul li{
    list-style: none;
}
body header ul li{
    list-style: none;
    align-items: center;
    margin: auto;
    

}


body header nav{
    display: flex;
   max width: 1140px;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;

}

body ul{
    display: flex;
    justify-content: center;
    
}

.btn-stay{
     background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    margin-bottom: 150px;
    
    


}
.btn-stay:hover{
    background-color: rgb(69, 56, 179);
}



/* main styles */


main sectborder-radius: 0 px;
    padding: 20px;ion{
    
    align-items: center;
}
.card{
    justify-content: left;
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

.see-it{
    font-size: 42;
    font-weight: bold;
    margin: 0px auto;
    padding: 0px;
    height: 100%;
    width: 517px;
}

.explore{
    margin: 0px auto;
    padding: 0px;
    height: 100%;
    width: 517px;
    font-size: 24px;
    font-weight: 250;
    line-height: auto;
    margin: 23px 0px;
}
.image{
    width: 403px;
    border-radius: 48px;

}

main section nav{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 328px 1140px;
    margin: 116px 159px 127px 140px;

}

.raleway-semibold{
    font-size: 24px;
    font-weight: 300;
    line-height: auto;
    width: 517px;
}
           
.section-1{
    display: flex;
    align-items: center;
}


.section-edit{
    text-align: center;
    background-color: hwb(223 84% 13% / 0.753);
    padding: 50px 80px;
    max-width: 800px;
    border-radius: 10px;
    margin: auto; 
    padding: 50px 140px;

}


.section2{
    font-size: 38px;
    margin-bottom: 30px;
    font-weight: bold;
    color:#000000;
}

.items{
    display: flex;
    justify-content: space-around;
}

.font-80{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
   font-variation-settings:"wdth" 100;
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0 auto;

}

.small{
font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
   font-variation-settings:"wdth" 100;
    font-size: 20px;
    font-weight: 200;
    margin: 0 auto;
    

}

.what-the-users-say{
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 42px;
    font-weight: bold;
    margin: 126px 150px 0px 150px;
   
    
}

.img-flex{
    margin: 24px 227px 24px 24px;
}

.review-title{
    margin: 0px;

}

.review{
    background-color: #f9f7f7;
    /* margin: 10px 20px; */
    /* margin: 0px; */
    display: flex;
    align-items:center;
    /* justify-content: space-around; */
    max-width: 500px;
    margin: 0px auto; 
}

.reviews{
    font-size: 16px;
    margin: 12px 0px;
    padding: 0px;
    height: 100%;
    line-height: normal;
    font-weight: 450;
}

.padding24{
    margin: 0px 24px 24px 0px;
    width: 319px; 

}

.round-shape{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 10px 10px 10px 0px;
    
}

.
.details{

}
.name{
color: #757575;
font-size: 12px;
margin: 0px;
}
.date{
color: #B3B3B3;
font-size: 10px;
margin: 4px 0px 0px 0px;
}
.reviwer-info{
    display: flex;
    align-items: center;
}

.section-title{
    display: flex;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding: 0px;
    height: 100%;
    width: 905px;
    margin-top: 126px;
}

.cards{
    display: flex;
    align-items: center;
    margin: 50px auto;
    justify-content: space-around;
    flex-wrap: wrap;

}



.raleway50{
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 50px;
    font-weight: bold;
    max-width: 540px;
    margin-bottom: 0px;
    margin: 0 auto;
    


}

.small-one{
      font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
   font-variation-settings:"wdth" 100;
    font-weight: 300;
    font-size: 17px;
    color: #525151;
    padding: 20px;


}

main section nav div div ul li{
    list-style: none;
}

.img-big{
    border-radius: 48px;
}

.align-center{
    align-items: center;
    justify-content: center;
    max-width: 1140px;
    width: 100%;
}

.padding150{
    padding: 150px 400px;
    background-color: #f7f6f6;
   border-radius: 14px;
   text-align: center;
    max-width: 800px;
    margin: auto; 
    width: 100%;

}

.get-in-touch{

    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 97px;
    font-weight: bold;
    max-width: 528px;

}

.input{
    max-width: 497px ;
    margin: 0px auto;
    padding: 20px;
    border-radius: 0px;
    align-items: center;
    justify-content: center;
}

.email{
    display: block;
    margin-bottom: 5px;
}

.input-box{
    height: 70px;
    width: 497px;
    border-radius: 10px;
    display: block;
    background-color: #ededed;
    border-style: none;
    margin: 10px;
    padding: 20px 32px;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
   font-variation-settings:"wdth" 100;
   font-weight: 400;
   font-size: 20px;
    
}

.before-footer{
    display: flex;
    height: 632px;
    width: 1140px;
    justify-content: space-between;
    margin: 93px 150px;
}

main section nav div div div div ul li{
    width: 497px;
}

.inter18{
    font-size: 18px;
      font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
   font-variation-settings:"wdth" 100;

}

.btn-long{

   background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    width: 550px;
    height: 62px;
    padding: 19px 101px;
    margin-top: 15px;
    


}
.btn-long:hover{
    background-color: rgb(69, 56, 179);
}



.logo-last{

       color: #4E47FF;
    font-size: 100px ;
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto; 
  font-style: normal;
   font-variation-settings:"wdth" 100;
   margin: 0px auto;
   font-weight: bolder;
   

}

.last-p{
color: #8987A1;
font-size: 19px;
font-weight: 300;
max-width: 531px;
}

.last-div{
    color: #8987A1;
    font-size: 19px;
font-weight: 300;
display: flex;
justify-content: space-around; 
max-width: 480px;
}

.footer{
    max-width: 1140px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
}

.to-center{
    align-items: center;
   
}